body{
    min-height: 100%;
}
.top{
    width:100%;
    margin-top: 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: #e37222;
    font-family: 'Lucida Calligraphy', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bottom{
    font-family: 'Lucida Calligraphy', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
.slogan{
    font-family: 'Lucida Calligraphy', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    text-align: center;
    margin-left: 37%;
}
.userInformation{
    width: 100%;
    height: 100px;
    background-color: red;
}
.sideBar{
    width: 20%;
    float: left;
}
.contentVariable{
    width: 80%;
    float: left;
}
.boutton{
    display:block;
    margin-bottom: 12%;
}
.startMyDay,.makeScore,.reportIncident,.changeVehicle,.tourList,.finishDay{
    display: none;
}
.infoChauffeur{
    width:100%;
    height: auto;
    float: left;
}
.treeContent{
    width:50%;
    height: auto;
    float: left; 
    background-color: red;
}
.divOption{
    background-color: rgba(223, 223, 209, 0.781);
    border:1px solid rgb(68, 65, 65);
    color: black;
}
.divOption:hover{
 cursor:pointer;
}
/*----------------------------------------Gestion de la responsivité de l'appli-------------------------------*/
@media screen and (max-width: 480px) {
    .top{
        display: none;    
    }
    .bottom{
        margin-top: 90px;
    }
    .effacer{
        margin-top: 10px;
    }
    .slogan{
        margin-left: 15%;
    }
}